<h1>タスク編集</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @task, url: user_task_path, local: true, method: :patch) do |f| %>
      <%= render 'shared/tasks_error_messages' %>
      
      <%= f.label "名称", class: "label-form" %>
      <%= f.text_field :title, value: @tasks.title, class: "form-control" %>
  
      <%= f.label "詳細", class: "label-form" %>
      <%= f.text_area :detail, value: @tasks.detail, class: "form-control",rows: 5 %>
    
      <%= f.submit "更新", class: "btn btn-primary btn-form" %>
      <%= link_to "キャンセル", user_tasks_path(@tasks.user_id), class: "btn btn-default btn-form" %>
    <% end %>
  </div>
</div>
      